<div>
  <mat-toolbar color="primary">
    <span><mat-icon>shopping cart</mat-icon></span>

    <span>G-Man's List</span>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-button-toggle>Done</mat-button-toggle>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Whole Foods</button>
    <button mat-menu-item>WF 365</button>
    <button mat-menu-item>Trader Joe's</button>
    <button mat-menu-item>Stop &amp; Shop</button>
  </mat-menu>
</div>